<!-- <video src="descargas/" controls>
  Tu navegador no admite el elemento <code>video</code>.
</video> -->

aplicacion de peliculas

<header>
  <nav>
    <a href="inicio">Inicio</a>
    <a href="showtv">Show de Tv</a>
    <a href="peliculas">Peliculas</a>
    <a href="animados">Animados</a>
    <a href="reciente">Reciente</a>

    <a href="buscar">Buscar</a>
    <a href="notificaciones">Notificaciones</a>
    <a href="cuenta">Cuenta</a>

  </nav>
</header>

<h1>Populares</h1>

<img src="../assets/series/bluey.jpeg" alt="Bluey">